.search {
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    padding: 30px;
    background-color: #fff;
    
    /* background: rgba(255, 255, 255, 0.15); */
    /* box-shadow: 0 8px 32px 0 rgba(245, 13, 91, 0.37); */
    /* backdrop-filter: blur(15px); */
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  .logo{
    background-image: url("C:\Users\hp\Downloads\background3.jpg");
    background-size:cover;
    /* display: flex; */
    /* justify-content: center;
    padding-bottom: 50px;
    align-items: center;
    flex-direction: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw; */
  }
  .main{
    margin-left: 200px;
    /* padding-right: 50px; */
    height: 500px;
    padding-top: 100px;
    
  }
  
  .h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eef0f3;
    padding-right: 300px;
    padding-bottom: 50px;
   
  }
  .search-field {
    margin-right: 10px;
    padding: 5px;
    height: 50px;
  }
  
  .search-button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #555;
  }
  .nav{
    padding-bottom: 70px;
    height: 100px;
   width: 100%; 
}
.na{
    padding: 14px 16px;
    padding-bottom: 300px;
    /* position: fixed; */
}
.sign{
    padding-left: 500px;
}
.create{
    padding-left: 50px;
}

.navbar {
    background-color: #333;
    padding: 10px;

  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 10;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }